/*!
 *  build: vue-admin-better 
 *  vue-admin-beautiful.com 
 *  https://gitee.com/chu1204505056/vue-admin-better 
 *  time: 2024-7-25 09:19:18
 */[data-v-fb151bea]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#21252b}.lodash-container[data-v-fb151bea]{text-align:left}.lodash-container[data-v-fb151bea] .lodash-content{min-height:150px}