/*!
 *  build: vue-admin-better 
 *  vue-admin-beautiful.com 
 *  https://gitee.com/chu1204505056/vue-admin-better 
 *  time: 2022-2-26 00:26:40
 */[data-v-6b3dd440]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34}.element-container[data-v-6b3dd440] .el-dialog__wrapper{position:fixed;top:20px;right:20px;bottom:20px;left:20px}.element-container[data-v-6b3dd440] .el-button,.element-container[data-v-6b3dd440] .el-link,.element-container[data-v-6b3dd440] .el-tag{margin:5px}.element-container[data-v-6b3dd440] .el-progress{margin:20px}.element-container .element-iframe[data-v-6b3dd440]{position:absolute;top:55px;right:0;bottom:0;left:0;width:100%;height:89vh}