/*!
 *  build: vue-admin-better 
 *  vue-admin-beautiful.com 
 *  https://gitee.com/chu1204505056/vue-admin-better 
 *  time: 2024-7-25 09:19:18
 */[data-v-721b4a6f]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#21252b}.loading-container[data-v-721b4a6f] .el-button{margin-top:10px;margin-right:10px;margin-left:0}.loading-container[data-v-721b4a6f] .el-button+.el-button{margin-right:10px;margin-left:0}