/*!
 *  build: vue-admin-better 
 *  vue-admin-beautiful.com 
 *  https://gitee.com/chu1204505056/vue-admin-better 
 *  time: 2024-7-31 16:46:41
 */[data-v-6c4c8cea]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#21252b}.placeholder-container div[data-v-6c4c8cea]{margin:10px}